@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

#testimonial {
  background: #efe1bd;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
}

.slider {
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
  color: #222;
}

.margin-auto {
  margin: 0% auto;
}

//Testimonials

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ececec;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}
#customers-testimonials .shadow-effect p {
  font-family: inherit;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #3190e7;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}
#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190e7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190e7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

/*---------- testimonial css start ----------*/
.pn_testimonial_box {
  font-weight: 300;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #405fbd;
  position: relative;
  transition: 1s;
  transform: scale(0.9);
  background-color: #fff;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  border-radius: 4rem;
}
.pn_testimonial_box:hover {
  box-shadow: 2px 4px 8px #d6d8da;
  border: 1px solid #fff;
  transform: scale(1);
  position: relative;
  z-index: 1;
}
.pn_review_rating img {
  width: 20%;
}
.pn_review_profile img {
  position: absolute;
  margin: -1rem -5rem 0;
}
.pn_review_profile span {
  position: absolute;
}

.justify-center {
  justify-content: center;
}

.owl-carousel {
  width: 50%;
}

// .owl-item .active{
//   width: 350px;
//   margin-right: 10px;
//   height: 280px;
// }

.pn_testimonial_box {
  font-weight: 500;
  /* padding: 3rem; */
  /* margin: 3rem; */
  border: 1px solid transparent;
  position: relative;
  transition: 1s;
  -webkit-transform: scale(.9);
  transform: scale(.9);
  background-color: transparent;
  border-radius: 4rem;
  font-size: 15px;
  margin: 10% 0%;
  padding: 5% 1%;
}

.owl-carousel .owl-item img{
  border-radius: 50%;
    object-fit: cover;
}

.pn_testimonial_box:hover {
  box-shadow: 2px 4px 8px transparent;
  border: 1px solid transparent;
}
.owl-carousel.owl-drag .owl-item {
  padding: 1% 1%;
}

.owl-carousel {
  width: auto;
  margin: 1% 25%;
}

.text-black{
  color: #222;
}
@media (max-width: 575px) {
  /*---------- testimonial css start ----------*/
  .pn_reviews {
    padding: 3rem 0;
  }
  .pn_reviews h1 {
    font-size: 2rem;
    padding-bottom: 1rem !important;
  }
  .pn_testimonial_box {
    padding: 2rem;
    margin: 1rem;
    border: 1px solid #405fbd;
    position: relative;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    border-radius: 4rem;
  }
  .pn_review_profile img {
    position: absolute;
    margin: -1.1rem -3rem 0;
  }
  .pn_review_profile span {
    position: absolute;
    padding: 1rem;
  }
  .pn_review_rating img {
    width: auto;
  }
}
